---
import ProjectLink from "@components/projects/ProjectLink.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  website: {
    href: string;
    external?: boolean;
  };
  repository?: string;
  image: {
    src: ImageMetadata;
    alt: string;
  };
  even?: boolean;
}

const {
  title,
  description,
  website,
  repository,
  image,
  even = false,
} = Astro.props;
---

<div
  class={`flex flex-col ${even ? "md:flex-row-reverse" : "md:flex-row"} md:gap-24 2xl:gap-56`}
>
  <div class="flex flex-col gap-8 justify-center lg:w-3/5 2xl:w-1/2">
    <div class="flex flex-col gap-4 sm:text-center lg:text-start">
      <h3 class="text-3xl md:text-6xl uppercase font-bold text-white">
        {title}
      </h3>
      <p class="text-lg md:text-xl font-light text-content-secondary">
        {description}
      </p>
    </div>
    <div class="w-full h-full lg:hidden">
      {image && <Image src={image.src} alt={image.alt} />}
    </div>
    <div
      class="flex flex-col md:flex-row gap-6 justify-center lg:justify-start"
    >
      <ProjectLink label="View project" href={website.href} />
      {repository && <ProjectLink label="View repository" href={repository} />}
    </div>
  </div>
  <div class="hidden lg:block lg:w-2/5 2xl:w-1/2 h-full">
    {image && <Image src={image.src} alt={image.alt} />}
  </div>
</div>
