---
import ButtonLink from "@components/ui/ButtonLink.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  website: {
    href: string;
    external?: boolean;
  };
  repository?: string;
  image: {
    src: ImageMetadata;
    alt: string;
  };
  even?: boolean;
}

const {
  title,
  description,
  website,
  repository,
  image,
  even = false,
} = Astro.props;
---

<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 2xl:gap-16 items-center">
  <div class="flex flex-col gap-6 text-center xl:text-start">
    <div class="flex flex-col gap-4">
      <h3 class="text-3xl md:text-6xl uppercase font-bold text-white">
        {title}
      </h3>
      <p
        class="text-lg md:text-xl font-light text-content-secondary text-balance"
      >
        {description}
      </p>
    </div>

    <div class="xl:hidden overflow-hidden rounded-xl group">
      <div class="transition-transform duration-500 group-hover:scale-105">
        {image && <Image src={image.src} alt={image.alt} />}
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row gap-6 justify-center xl:justify-start"
    >
      <ButtonLink
        label="View project"
        href={website.href}
        external={website.external}
      />
      {
        repository && (
          <ButtonLink
            label="View repository"
            href={repository}
            external={website.external}
          />
        )
      }
    </div>
  </div>

  <div class="hidden xl:block overflow-hidden rounded-xl group">
    <div class="transition-transform duration-500 group-hover:scale-105">
      {image && <Image src={image.src} alt={image.alt} />}
    </div>
  </div>
</div>
