---
import { TextLink } from "@components/ui";
import { FooterLink } from "@components/content";
import {
  YZZO_LIVE_URL,
  NYX_REPO_URL,
  PROJECT_PORTFOLIO_V0_URL,
  MAIL_URL,
  LINKEDIN_URL,
  GITHUB_URL,
  CREDIT_LOR_URL,
  CREDIT_MOONLOIN_URL,
  CREDIT_ALEX_URL,
} from "@constants";
import luccaIcon from "@assets/icons/lucca.png";
import { Image } from "astro:assets";

const workLinks = [
  {
    label: "YZZO",
    url: YZZO_LIVE_URL,
    track: true,
  },
  {
    label: "Nyx",
    url: NYX_REPO_URL,
    track: true,
  },
];

const contactLinks = [
  {
    label: "GitHub",
    url: GITHUB_URL,
  },
  {
    label: "LinkedIn",
    url: LINKEDIN_URL,
  },
  {
    label: "Email",
    url: MAIL_URL,
  },
];

const timeMachineLinks = [
  {
    label: "Version 0",
    url: PROJECT_PORTFOLIO_V0_URL,
  },
];

const credits = [
  {
    name: "Alexandre Homem",
    contribution: "Made me look good on camera",
    url: CREDIT_ALEX_URL,
  },
  {
    name: "Lor",
    contribution: "Created YZZO's brand",
    url: CREDIT_LOR_URL,
  },
  {
    name: "Thais Bruna",
    contribution: "Created my brand illustration",
    url: CREDIT_MOONLOIN_URL,
  },
];

const { class: className = "" } = Astro.props;
---

<footer
  class={`grid grid-cols-1 xl:grid-cols-2 gap-12 lg:gap-20 xl:gap-y-12 pt-26 pb-16 md:pb-12 xl:py-24 text-content-secondary justify-between items-start font-light ${className}`}
>
  <div class="flex flex-col gap-4 xl:gap-10 items-center xl:items-start">
    <Image
      src={luccaIcon}
      alt="Lucca's illustration"
      class="w-24 h-24 rounded-full shadow-[1px_1px_0_0_#AE1E5F]"
    />
    <div class="flex flex-col">
      <p
        class="text-base text-center xl:text-start text-neutral-primary font-medium"
      >
        Have something in mind? Say hello.
      </p>
      <div class="self-center xl:self-start">
        <TextLink link={{ label: MAIL_URL, url: MAIL_URL }} size="large" />
      </div>
    </div>
    <div class="text-sm text-content-secondary text-center xl:text-start">
      <p>&copy 2026 Designed and coded by Lucca Romaniello.</p>
    </div>
  </div>
  <div class="flex flex-col gap-10">
    <div class="flex flex-col gap-1">
      <p class="font-caveat text-start text-neutral-primary">
        Behind some pieces of this site, there are people I'd happily buy
        another coffee.
      </p>
      <div
        class="flex flex-col gap-x-6 gap-y-1 justify-center xl:justify-start text-sm"
      >
        {
          credits.map((credit) => (
            <span>
              <TextLink
                link={{ label: credit.name, url: credit.url }}
                size="extraSmall"
                track
              />
              <span class="text-content-secondary font-medium">
                {" "}
                · {credit.contribution}
              </span>
            </span>
          ))
        }
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row w-full justify-between md:justify-start xl:justify-start gap-6 md:gap-12 xl:gap-12"
    >
      <FooterLink title="Work" links={workLinks} />
      <FooterLink title="Time Machine" links={timeMachineLinks} />
      <FooterLink title="Contact" links={contactLinks} />
    </div>
  </div>
</footer>
