---
import { IconButton, ButtonLink, TextLink } from "@components/ui";
import { GITHUB_URL, LINKEDIN_URL, MAIL_URL } from "@constants";
import { Image } from "astro:assets";
import luccaImage from "@assets/lucca/lucca-sofa.jpg";
import { baseSpacing } from "@constants";
---

<div
  class={`${baseSpacing} relative flex flex-row gap-8 w-full justify-start text-white pt-24 pb-40 bg-neutral-primary overflow-visible`}
>
  <div class="flex flex-col gap-12 lg:gap-6 w-full pt-8">
    <h1
      data-text="Lucca Romaniello"
      class="relative z-10 anaglyph text-8xl font-satoshi leading-tight font-bold
             text-white tracking-wider uppercase"
    >
      Lucca Romaniello
    </h1>
    <div
      class="flex flex-col gap-2 leading-relaxed text-xl text-content-secondary pr-96"
    >
      <p class="text-balance">
        Full Stack Engineer with a product design background. 6+ years blending
        engineering and design.
      </p>
      <p>
        Based in Brazil, working globally. Open to full-time and freelance work.
      </p>
    </div>
    <div class="flex flex-row gap-6 items-center pt-4">
      <ButtonLink icon="github" label="GitHub" href={GITHUB_URL} external />
      <ButtonLink
        icon="linkedin"
        label="LinkedIn"
        href={LINKEDIN_URL}
        external
      />
      <ButtonLink icon="mail" label="Contact" href={MAIL_URL} external />
    </div>
  </div>
  <div class="absolute right-32 w-[480px] h-[560px]">
    <div class="flex flex-col gap-4 justiy-center text-center">
      <div
        class="border-2 border-white shadow-[3px_3px_0_0_#AE1E5F] rounded-xl overflow-hidden"
      >
        <Image
          src={luccaImage}
          alt="Lucca Romaniello"
          class="object-contain object-center -mt-32"
        />
      </div>
      <div class="text-neutral-primary/90">
        <p class="font-caveat text-2xl">
          On most days, you’ll find me with some
          <TextLink
            link={{
              label: "pão de queijo",
              url: "https://en.wikipedia.org/wiki/P%C3%A3o_de_queijo",
            }}
            size="large"
            cursive
          />
          and a cup of coffee. No sugar.
        </p>
      </div>
    </div>
  </div>
</div>
