---
import ChipGroup from "@components/ui/ChipGroup.astro";
import TextLink from "@components/ui/TextLink.astro";
import { type ExperienceItem } from "@typeDefs/experience";

interface Props {
  experience: ExperienceItem;
  first?: boolean;
  last?: boolean;
}

const { experience, first = false, last = false } = Astro.props;
---

<div
  class="grid grid-cols-1 xl:grid-cols-[1fr_auto_minmax(20%,220px)] gap-4 xl:gap-0 text-neutral-primary"
>
  <div class="xl:pr-12 xl:py-4">
    <div
      class="flex flex-col gap-2 border-2 border-neutral-primary rounded-lg bg-white p-4 md:p-6"
    >
      <div class="flex flex-wrap items-baseline">
        <h3 class="font-bold text-lg md:text-xl">{experience.title}</h3>
        {
          experience.companies && experience.companies.length > 0 && (
            <span class="font-bold text-lg md:text-xl">&nbsp;·&nbsp;</span>
          )
        }
        {
          experience.companies && experience.companies.length > 0 && (
            <>
              {experience.companies.map((company, i) => (
                <>
                  <TextLink
                    link={{ label: company.name, url: company.website ?? "" }}
                    size="small"
                  />
                  {i < experience.companies.length - 1 && <span>,&nbsp;</span>}
                </>
              ))}
            </>
          )
        }
      </div>
      {
        experience.description && (
          <p class="text-content-secondary text-pretty">
            {experience.description}
          </p>
        )
      }
      <ChipGroup chips={experience.technologies} variant="neutral" />
    </div>
  </div>
  <div class="relative hidden xl:flex flex-col items-center">
    <div
      class={`w-px flex-1 ${first ? "bg-transparent" : "bg-neutral-primary/20"}`}
    >
    </div>
    <div
      class={`w-2.5 h-2.5 rounded-full shrink-0 z-10 ${experience.current ? "bg-primary" : "border border-neutral-primary/30 bg-white"}`}
    >
    </div>
    <div
      class={`w-px flex-1 ${last ? "bg-transparent" : "bg-neutral-primary/20"}`}
    >
    </div>
  </div>
  <div
    class="order-first xl:order-none flex flex-row xl:flex-col justify-between xl:justify-center uppercase xl:text-start xl:py-8 xl:pl-6"
  >
    <p class="text-sm md:text-base">
      {experience.location}
    </p>
    <p
      class="text-content-secondary
      text-sm
      md:text-base
      leading-relaxed"
    >
      {experience.startDate}
      {
        experience.current ? (
          <>
            {" - "}
            <span class="text-primary font-semibold animate-pulse">now</span>
          </>
        ) : (
          experience.endDate &&
          experience.endDate !== experience.startDate && (
            <>
              {" - "}
              <span>{experience.endDate}</span>
            </>
          )
        )
      }
    </p>
  </div>
</div>
