---
import ChipGroup from "@components/ui/ChipGroup.astro";
import TextLink from "@components/ui/TextLink.astro";
import { type ExperienceItem } from "@typeDefs/experience";

interface Props {
  experience: ExperienceItem;
}

const { experience } = Astro.props;
---

<div
  class="grid grid-cols-1 xl:grid-cols-[1fr_minmax(20%,144px)] 2xl:grid-cols-[minmax(0,1024px)_minmax(20%,196px)] py-4 gap-4 xl:gap-14 2xl:gap-18 text-neutral-primary"
>
  <div class="flex flex-col">
    <div class="flex flex-wrap items-baseline">
      <span class="font-semibold text-xl md:text-3xl lg:text-base uppercase"
        >{experience.title}{
          experience.companies && experience.companies.length > 0 && (
            <>&nbsp;·&nbsp;</>
          )
        }
      </span>
      {
        experience.companies && experience.companies.length > 0 && (
          <>
            {experience.companies.map((company, i) => (
              <>
                <TextLink
                  link={{ label: company.name, url: company.website ?? "" }}
                  size="small"
                />
                {i < experience.companies.length - 1 && <span>,&nbsp;</span>}
              </>
            ))}
          </>
        )
      }
    </div>
    <div class="flex flex-col gap-1">
      {
        experience.description && (
          <p class="text-content-secondary text-pretty">
            {experience.description}
          </p>
        )
      }
      <ChipGroup chips={experience.technologies} />
    </div>
  </div>
  <div
    class="flex flex-row xl:flex-col justify-between xl:justify-start uppercase text-center xl:text-end pt-1"
  >
    <p class="text-sm md:text-sm">
      {experience.location}
    </p>
    <p class="text-content-secondary text-sm md:text-sm leading-relaxed">
      {experience.startDate}
      {
        experience.current ? (
          <>
            {" - "}
            <span class="text-primary font-semibold">now</span>
          </>
        ) : (
          experience.endDate &&
          experience.endDate !== experience.startDate && (
            <>
              {" - "}
              <span>{experience.endDate}</span>
            </>
          )
        )
      }
    </p>
  </div>
</div>
