---
import ChipGroup from "@components/ui/ChipGroup.astro";
import TextLink from "@components/ui/TextLink.astro";
import { type ExperienceItem } from "@typeDefs/experience";

interface Props {
  experience: ExperienceItem;
}

const { experience } = Astro.props;
---

<div
  class={`flex flex-col sm:flex-row w-full justify-between py-8 sm:py-4 2xl:px-42 gap-4 sm:gap-12`}
>
  <div class="flex flex-col lg:flex-row gap-4 lg:gap-28 w-full">
    <div
      class="flex flex-row lg:flex-col justify-between lg:justify-start xl:basis-70 2xl:basis-96 shrink-0 gap-1 uppercase text-center lg:text-start"
    >
      <p class="text-sm md:text-lg lg:text-xl 2xl:text-2xl font-light">
        {experience.location}
      </p>
      <p class="text-content-secondary text-sm md:text-lg lg:text-lg">
        {experience.startDate}
        {
          experience.current ? (
            <>
              {" - "}
              <span class="text-white font-medium text-shadow-[2px_1px_0_#AE1E5F]">
                now
              </span>
            </>
          ) : (
            experience.endDate &&
            experience.endDate !== experience.startDate && (
              <>
                {" - "}
                <span>{experience.endDate}</span>
              </>
            )
          )
        }
      </p>
    </div>
    <div class={`flex flex-col ${experience.description && "gap-4"}`}>
      <div class="flex flex-col gap-1 md:gap-2">
        <p>
          <span
            class="font-medium text-xl md:text-3xl lg:text-2xl 2xl:text-3xl uppercase"
            >{experience.title}
          </span>
        </p>
        <div>
          {
            experience.companies
              ?.map((company, i) => (
                <TextLink
                  link={{ label: company.name, url: company.website ?? "" }}
                />
              ))
              .reduce(
                (acc, curr, idx) => (idx === 0 ? [curr] : [...acc, ", ", curr]),
                [],
              )
          }
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <p
          class="text-md md:text-lg font-light text-content-secondary text-pretty"
        >
          {experience.description}
        </p>
        <ChipGroup chips={experience.technologies} />
      </div>
    </div>
  </div>
</div>
