---
import TextLink from "@components/ui/TextLink.astro";
import FooterLink from "@components/content/FooterLink.astro";
import {
  PROJECT_ODIN_LIVE_URL,
  PROJECT_PORTFOLIO_V0_URL,
  MAIL_URL,
  LINKEDIN_URL,
  GITHUB_URL,
} from "@constants";
import luccaIcon from "@assets/icons/lucca.png";
import { Image } from "astro:assets";

const workLinks = [
  {
    label: "The Odin Project",
    url: PROJECT_ODIN_LIVE_URL,
  },
];

const contactLinks = [
  {
    label: "GitHub",
    url: GITHUB_URL,
  },
  {
    label: "LinkedIn",
    url: LINKEDIN_URL,
  },
];

const timeMachineLinks = [
  {
    label: "Version 0",
    url: PROJECT_PORTFOLIO_V0_URL,
  },
];

const { class: className = "" } = Astro.props;
---

<footer
  class={`flex flex-col xl:flex-row gap-12 md:gap-12 lg:gap-20 pb-12 md:pb-24 md:pt-24 w-full text-content-secondary justify-between 2xl:pr-80 items-start font-light ${className}`}
>
  <div class="flex flex-col gap-10">
    <Image
      src={luccaIcon}
      alt="Lucca's illustration"
      class="w-14 h-14 rounded-full shadow-[1px_1px_0_0_#AE1E5F]"
    />
    <div class="flex flex-col">
      <p class="text-md md:text-lg">
        If you have something in mind, feel free to reach out to me.
      </p>
      <div class="self-start">
        <TextLink link={{ label: MAIL_URL, url: MAIL_URL }} size="large" />
      </div>
    </div>
    <div class="hidden md:block text-sm text-content-secondary">
      <p>&copy 2025 Designed and coded by Lucca Romaniello.</p>
    </div>
  </div>
  <div
    class="flex flex-col xl:flex-row w-full xl:w-auto justify-between md:justify-start gap-8 md:gap-24"
  >
    <FooterLink title="Work" links={workLinks} />
    <div class="flex flex-col md:flex-row gap-8 md:gap-24">
      <FooterLink title="Contact" links={contactLinks} />
      <FooterLink title="Time Machine" links={timeMachineLinks} />
    </div>
  </div>
  <div class="md:hidden text-sm text-content-secondary">
    <p>&copy 2025 Designed and coded by Lucca Romaniello.</p>
  </div>
</footer>
