---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/sections/Footer.astro";
import SideLinks from "@components/navigation/SideLinks.astro";
import {
  PROJECT_ODIN_SITE_DESCRIPTION,
  PROJECT_ODIN_SITE_TITLE,
  baseLayout,
} from "@constants";
import { odinProjects } from "@data/odinProjects";
import ProjectTile from "@components/theodinproject/ProjectTile.astro";
import { SECTIONS } from "@typeDefs/odinProject";

const sections = Object.entries(SECTIONS);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={PROJECT_ODIN_SITE_TITLE}
      description={PROJECT_ODIN_SITE_DESCRIPTION}
    />
  </head>
  <body class="font-satoshi">
    <SideLinks showHomeButton />
    <main class={`${baseLayout} my-8 grid grid-cols-1 gap-16 md:gap-y-32`}>
      <h1
        class="text-3xl md:text-6xl uppercase font-bold text-white text-center justify-self-center"
      >
        The Odin Project
      </h1>
      {
        sections.map(([key, label]) => {
          const sectionProjects = odinProjects.filter(
            (project) => project.type === label,
          );

          return (
            <section>
              <h2 class="text-xl 2xl:text-2xl uppercase text-content-secondary pb-6 md:pb-12 text-center">
                {label}
              </h2>
              <div class="grid grid-cols-[repeat(auto-fill,minmax(320px,1fr))] gap-12">
                {sectionProjects.map((project) => (
                  <ProjectTile project={project} />
                ))}
              </div>
            </section>
          );
        })
      }
    </main>
    <Footer class={baseLayout} />
  </body>
</html>
