---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/sections/Footer.astro";
import SideLinks from "@components/navigation/SideLinks.astro";
import {
  PROJECT_ODIN_SITE_DESCRIPTION,
  PROJECT_ODIN_SITE_TITLE,
  baseLayout,
} from "@constants";
import { odinProjects } from "@data/odinProjects";
import ProjectTile from "@components/theodinproject/ProjectTile.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={PROJECT_ODIN_SITE_TITLE}
      description={PROJECT_ODIN_SITE_DESCRIPTION}
    />
  </head>
  <body class="font-satoshi">
    <SideLinks />
    <main class={baseLayout}>
      <h1
        class="text-3xl md:text-6xl uppercase font-bold text-white text-center"
      >
        The Odin Project
      </h1>
      {odinProjects.map((project) => <ProjectTile project={project} />)}
    </main>
    <Footer class={baseLayout} />
  </body>
</html>
